In [1]:
import os


os.chdir("../")


os.getcwd()

'd:\\DA_workspace\\alzheimers_prediction_newacc\\src'

In [2]:
from classifier.Mylib import myfuncs

In [3]:
data = myfuncs.load_python_object(
    "../artifacts/data_transformation_49/train_features.pkl"
)
label = myfuncs.load_python_object(
    "../artifacts/data_transformation_49/train_target.pkl"
)



data.head()

,Education_Level_num,BMI_num,Cognitive_Test_Score_num,Age_num,Employment_Status_nom_Retired,Employment_Status_nom_Unemployed,Country_nom_Australia,Country_nom_Brazil,Country_nom_Canada,Country_nom_China,...,Income_Level_ord,Depression_Level_ord,Alcohol_Consumption_Level_ord,Stress_Levels_ord,Social_Engagement_Level_ord,do_get_Genetic_Risk_Factor_bin,Physical_Activity_Level_ord,Sleep_Quality_Level_ord,Cholesterol_Level_ord,Diet_level_ord
0,-1.127374,1.702502,0.810991,-0.457060,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
1,0.609742,-1.463976,0.265186,-0.842377,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0
2,0.088607,0.423329,1.654507,0.159446,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0
3,-0.779951,-1.317186,-0.578330,-0.457060,1.0,0.0,0.0,0.0,0.0,1.0,...,2.0,1.0,1.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0
4,-1.648509,0.968550,-1.620320,0.082383,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
data.columns

Index(['Education_Level_num', 'BMI_num', 'Cognitive_Test_Score_num', 'Age_num',
       'Employment_Status_nom_Retired', 'Employment_Status_nom_Unemployed',
       'Country_nom_Australia', 'Country_nom_Brazil', 'Country_nom_Canada',
       'Country_nom_China', 'Country_nom_France', 'Country_nom_Germany',
       'Country_nom_India', 'Country_nom_Italy', 'Country_nom_Japan',
       'Country_nom_Mexico', 'Country_nom_Norway', 'Country_nom_Russia',
       'Country_nom_Saudi Arabia', 'Country_nom_South Africa',
       'Country_nom_South Korea', 'Country_nom_Spain', 'Country_nom_Sweden',
       'Country_nom_UK', 'Country_nom_USA', 'Marital_Status_nom_Single',
       'Marital_Status_nom_Widowed', 'living_place_urban_or_rural_nom_Urban',
       'Gender_nom_Male', 'do_Family_History_bin', 'Smoking_Status_level_ord',
       'Air_Pollution_Exposure_level_ord', 'Income_Level_ord',
       'Depression_Level_ord', 'Alcohol_Consumption_Level_ord',
       'Stress_Levels_ord', 'Social_Engagement_Level_ord',
       'do_get_Genetic_Risk_Factor_bin', 'Physical_Activity_Level_ord',
       'Sleep_Quality_Level_ord', 'Cholesterol_Level_ord', 'Diet_level_ord'],
      dtype='object')

In [6]:
'do_get_Hypertension_bin' in data.columns.tolist()

False

In [ ]:
len(data.columns)

42

In [ ]:
label

0         No
1         No
2         No
3         No
4        Yes
        ...
53478    Yes
53479    Yes
53480     No
53481    Yes
53482     No
Name: do_get_Alzheimer, Length: 53483, dtype: object

In [ ]:
data["do_get_Hypertension_bin"].unique()

array([1.0, 0.0], dtype=object)

In [ ]:
data1 = myfuncs.load_python_object(
    "../artifacts/data_transformation_37/train_target.pkl"
)

data1.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: do_get_Alzheimer, dtype: float64

In [ ]:
classes = myfuncs.load_python_object("../artifacts/data_transformation_37/classes.pkl")

classes

[array(['No', 'Yes'], dtype=object)]